body{
  background-color: black;
  text-align: center;
  font-family: verdana;
}
h1{
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
h2{
  font-size: 42px;
  font-weight: 300;
  color: white;
}
h3 {
  font-size: 21px;
  font-weight: normal;
  color: gray;
}
.link{
  color: aquamarine;
  font-size: 16px;
}
.copyright{
  text-align: right;
}
